In [1]:
#LECTURE 5

In [2]:
import pickle
import pandas as pd
import numpy as np

In [22]:
def cal(x,y):
    x2= x*x
    y2= y*y
    result =x2=y2
    
    if (result>=250):
        print("ga")
    elif (20<result<100):
        print("Goddds")
        return result
    else:
        print('no money')

In [24]:
a= cal(2,57777)
a

ga

In [25]:
def calculator_base_5( x , y = 5 ):
    
    result = x * y
    
    return result

In [27]:
calculator_base_5( 5 )

25

In [36]:
def calculator_base_5( x : int, y : float ) -> float:
    if not isinstance(x,int):
        raise TypeError("X isnt int type.")
    if not isinstance(y,float):
        raise TypeError("Y isnt float.")
    
    result = x * y
    
    
    return result

In [39]:
calculator_base_5( 4 , 8.358)

33.432

In [40]:
calculator_base_5(8.358, 6 )

TypeError: X isnt int type.

In [ ]:
#LOCAL VARIABLES VS GLOBAL VARIABLES

In [41]:
pwd

'C:\\Users\\User\\Documents\\GitHub\\all_gits_me'

In [43]:
%run "function_1.ipynb"

In [ ]:
#esto esta en la funcion anterior
def lower_case( string1  ):
    
    str_result = string1.lower()
    
    return str_result

In [44]:
lower_case("ALDON")

'aldon'

In [45]:
#CLASSS

In [77]:
class MyFirstClass:
    def __init__( self, name, age, school):
        self.name = name
        self.age = age
        self.school = school
    
    def print_name1(self):
        print(f'iam {self.name} and i study in {self.school}.')
         
    def print_name2():
        print(f'this is my {name}.')
        
    def print_name3(self):
        print(f'this is my name and its {self.name}.')

In [71]:
student_0 = MyFirstClass( name = "Jose" , age = 22, school = "sss")
student_0.print_name3()

this is my name and its Jose.

In [78]:
student_0 = MyFirstClass( name = "Jose" , age = 22, school = "Saco Oliveros" )
student_0.print_name1()

iam Jose and i study in Saco Oliveros.

In [79]:
#TAREA 3

In [ ]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf

In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.random((200,3)))
df['date'] = pd.date_range('2000-1-1', periods=200, freq='D')
mask = (df['date'] > '2000-6-1') & (df['date'] <= '2000-6-10')
print(df.loc[mask])

            0         1         2       date
153  0.258595  0.133429  0.931116 2000-06-02
154  0.014478  0.204811  0.060423 2000-06-03
155  0.510596  0.629437  0.823514 2000-06-04
156  0.707673  0.245385  0.874887 2000-06-05
157  0.285342  0.057223  0.460441 2000-06-06
158  0.006280  0.557589  0.176878 2000-06-07
159  0.455730  0.415114  0.412317 2000-06-08
160  0.209602  0.383623  0.129656 2000-06-09
161  0.968836  0.882733  0.015748 2000-06-10